extends layout

block content
  .h1
    h1= title
  p Welcome to #{title}
  .grid
    for val in data 
      .card
        img(src=val.imagePath)
        p #{val.price}
        p #{val.descreption}
        p #{val.label}
        p #{val.currency}
        button Add to Cart 



    
    
                